<div class="col-lg-10" style="width: 100% ! important; padding-left: 10px;">
    <div class="widget">
        <div class="widget-header">
            <h4 style="float: left;"><span class="menu-icon fa fa-battery-full"></span>Capability Linker</h4>
<div class="input-group {{errorFind}}">
                <input type="text" class="form-control" ng-model="search" placeholder="Search for..." style="width: 40%; float: right;" >
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="findClose"></span>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="findCapabilitiesRecord()">Go!</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="widget-body large no-padding">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center">
                            <td colspan="3" ng-show="loading">
                                <div class="inner-circles-loader">
                                    Loading…
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="itemCap in matching_bclist track by $index" ng-show="!loading">
                            <td>{{itemCap.name}}</td>
                            <td>{{itemCap.description}}</td>
                            <td style="width: 25%;">
                            <button ng-click="howzit(itemCap, $index, 'New')" type="button" class="btn btn-info">New</button>
                            <button ng-click="howzit(itemCap, $index, 'Extend')" type="button" class="btn btn-info">Extend</button>
                            <button ng-click="howzit(itemCap, $index, 'Use')" type="button" class="btn btn-info">Use</button>
                            </td>
                        </tr>
                    </tbody>


                </table>

                <!-- /.row -->

            </div>
        </div>
    </div>
</div>