<div class="modal fade" id="objective_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button><br>
                <h4 class="modal-title">{{model_title}}</h4>
            </div>
            <div class="modal-body">


                <form>

                    <div class="form-group {{errorName}}">
                        <label>Name</label>
                        <input type="text" value="{{item.objective_name}}" ng-model="item.objective_name" ng-focus="errorHideName()" class="form-control" id="short_code" placeholder="Name">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="nameClose"></span>
                    </div>
                    <div class="form-group {{errorUnitName}}">
                        <label>Business Unit Name</label>
                        <select class="form-control" ng-model="item.business_unit" value="hellooogihfd" ng-focus="errorHideSelect()">
                            <option  ng-repeat="itemObj in unitList track by $index">{{itemObj.displayName}}</option></select>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="selectClose"></span>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" value="{{item.description}}" ng-model="item.description" class="form-control" id="desc" placeholder="Description">
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <div class="three-quarters-loader" ng-show="saveLoading" style="margin: 0px 5px -7px 0;">

                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="editObjectiveRecord();" type="button" ng-show="buttonShow" class="btn btn-danger">Save</button>
                <button ng-click="editObjectiveRecord($index);" type="button" ng-hide="buttonShow" class="btn btn-danger">Save changes</button>
            </div>
        </div> 
    </div> 
</div> 

