<div style="padding-left: 35px;" >

    <div class="row marginZero">
        <div style="padding: 0px" class="col-lg-4">
            <div class="row marginZero" style="padding-bottom: 15px;">
                <select ng-change="summaryfire(item.business_unitSummary)" class="form-control" style="width: 100%; height: 30px;" ng-model="item.business_unitSummary">
                    <option  ng-repeat="itemObj in unitList track by $index">{{itemObj.displayName}}</option>
                </select>
            </div>

            <div class="row marginZero" ng-hide="gridBox" style="text-align: center">

                <!--<div class="widget"  style="text-align: center">-->
                <!--<div class="widget-body x-small">-->
                <div class="ball-loader">
                    Loading…
                </div>
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <div class="row marginZero" ng-show="gridBox">

                <div class="widget"  style="">
                    <div class="widget-body x-small">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="widget-icon red pull-left">
                                    <i class="fa fa-bullseye"></i>
                                </div>
                                <div style="padding-left: 0%">
                                    <div class="title col-xs-5" style="font-size: 18px;">{{unitSummary.summary.totalObjectives}}</div><br>
                                    <div class="comment col-xs-7" style="font-size: 18px;">Objectives</div>
                                </div>
                            </div>
                            <div class="col-xs-3 text-right btn-margin" >
                                <div >
                                    <button class="btn btn-primary btn-sm" ng-click="exploreObjectives()">Explore</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
            <div class="row marginZero" style="margin: 0px;" ng-show="gridBox">

                <div class="widget " style="">
                    <div class="widget-body x-small">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="widget-icon blue pull-left">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                                <div class="title col-xs-5" style="font-size: 18px;">{{unitSummary.summary.totalInitiatives}}</div>
                                <div class="comment col-xs-7" style="font-size: 18px;">Initiatives</div>
                            </div>
                            <!--style="    float: right;     margin-right: 20px;"-->
                            <div class="col-xs-3 text-right" >
                                <div  data-toggle="tooltip" title="{{value}} Initiavtive currently in {{ragName(key)}} RAG status"  data-placement="left"    ng-repeat="(key, value) in ragStatus track by $index" ng-show="!loading">
                                    <span class="label label-default" ng-class="{'label-default':key == 'D','label-primary':key == 'N','label-success':key == 'G','label-warning':key == 'A','label-danger':key == 'R'}">{{value}}</span>
                                </div>  
                            </div>
                        </div>
                    </div>


                </div>

                <!--</div>-->
            </div>

            <div class="row marginZero" ng-show="gridBox">

                <div class="widget" style="">
                    <div class="widget-body x-small">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="widget-icon green pull-left">
                                    <i class="fa fa-battery-empty"></i>
                                </div>
                                <div style="padding-left: 0%">
                                    <div class="title col-xs-5" style="font-size: 18px;">{{unitSummary.summary.NEEDSCapabilities}}</div><br>
                                    <div class="comment col-xs-7" style="font-size: 18px;">NEEDS Capabilities</div>
                                </div>
                            </div>

                            <div class="col-xs-3 text-right btn-margin" >
                                <div >
                                    <button class="btn btn-primary btn-sm" ng-click="explore()">Explore</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row marginZero" ng-show="gridBox">

                <div class="widget"  style="">
                    <div class="widget-body x-small">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="widget-icon orange pull-left">
                                    <i class="fa fa-battery-full"></i>
                                </div>
                                <div class="title col-xs-5" style="font-size: 18px;">{{unitSummary.summary.HASCapabilities}}</div>
                                <div class="comment col-xs-7" style="font-size: 18px;">HAS Capabilities</div>
                            </div>
                        </div>
                        <!--                        <div >
                                                    <button class="btn btn-primary btn-sm" ng-click="explore()">Explore</button>
                                                </div>-->
                    </div>
                </div>
                <!--</div>-->
            </div>
            <!--</div>-->
        </div>


        <div class="col-lg-8">
            <button type="button" ng-show="unitList.length" class="btn btn-default exp-btn" ui-sref="main.explore({id: id})">Summary Graph</button>

            <div class="col-lg-10" style="width: 100% ! important; padding-left: 0;">
                <div class="widget">
                    <div class="widget-header">
                        <h4><span class="menu-icon glyphicon glyphicon-th-list"></span> Recent Transaction</h4>
                    </div>
                    <div class="widget-body medium no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>

                                        <th>Date</th>
                                        <th>User</th>
                                        <th>Transaction</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align: center">
                                        <td colspan="3" ng-show="loading">
                                            <div class="inner-circles-loader">
                                                Loading…
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr ng-repeat="recentItem in recentTrace track by $index" ng-show="!loading">
                                        <td>{{recentItem.tracedate}}</td>
                                        <td>{{recentItem.username}}</td>
                                        <td>{{recentItem.metainfo}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>      
                    </div>
                </div>

            </div>
            <!--            <div class="col-lg-10" style="width: 100% ! important; padding-left: 0;">
                            <div class="col-sm-1 col-status"     ng-repeat="(key, value) in ragStatus track by $index" ng-show="!loading">
                                <span class="label label-default" ng-class="{'label-default':key == 'D','label-primary':key == 'N','label-success':key == 'G','label-warning':key == 'A','label-danger':key == 'R'}">{{value}} {{ragName(key)}}</span>
                            </div>  
                        </div>-->
        </div>
        <!--Delete Error Modal -->
        <div class="modal fade bs-example-modal-sm" id="DelError_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Error...</h4>
                    </div>
                    <div class="modal-body">
                        <div>Comming Soon...</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
