<div style="padding: 10px">
    <button ng-click="addItem();
        saveLoading = false;" type="button" class="btn btn-success" data-toggle="modal" data-target="#unit_Modal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add
    </button>

    <h4>Business Unit List</h4>
    <div class="alert alert-danger alert-dismissible" role="alert" style="margin: 10px 0px 10px 0px;" ng-show="unitAlertMsg">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> Better check yourself, you're not looking too good.
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Shortcode</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center">
                <td colspan="3" ng-show="loading">
                    <div class="inner-circles-loader">
                        Loading…
                    </div>
                </td> 
            </tr>
            <tr ng-repeat="item in list track by $index" ng-show="!loading">
                <td>{{item.short_code}}</td>
                <td>{{item.name}}</td>
                <td>
                    <button ng-click="editItem(item, $index);
                            saveLoading = false;" type="button" class="btn btn-info">Edit</button>
                    <a tabindex="0" style="width:70px;"  class="btn btn-danger" ng-click="delPopover(item, $index);" ng-blur="hidePopove(item, $index)"  id= "{{$index}}" role="button" data-toggle="popover" data-trigger="manual"  title="Confirmation <button ng-click='hidePopove(item, $index)' class='crossbtn glyphicon glyphicon-remove'></button> " 
                       data-content="Are you sure you want to delete business unit {{item.name}}?" data-html="true"  data-placement="top">
                        <span  ng-hide="ifpopover == item.id" >Delete</span>
                        <span  ng-show="ifpopover == item.id">Confirm</span>
                    </a>
                    <div class="three-quarters-loader" ng-show="deleteLoader == item.id" style="margin: 7px 0 0px 7px; position: absolute;">
                    </div>
                </td>
            </tr>
        </tbody>

        <div class="modal fade" id="unit_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{model_title}}</h4>
                    </div>
                    <div class="modal-body">


                        <form>
                            <div class="form-group {{errorShortCode}}">
                                <label>Short Code</label>
                                <input type="text" value="{{item.short_code}}" ng-model="item.short_code" class="form-control" id="short_code" placeholder="Short Code" ng-focus="errorHideShort()">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="shortCodeClose"></span>
                            </div>
                            <div class="form-group {{errorUnitName}}">
                                <label>Name</label>
                                <input type="text" value="{{item.name}}" ng-model="item.name" class="form-control" id="name" placeholder="Name" ng-focus="errorHideUnit()">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="unitNameClose"></span>
                            </div>

                            <div class="form-group {{errorOrgLevel}}">
                                <label>Org-Level</label>
                                <input type="number" value="{{item.org_level}}" ng-model="item.org_level" class="form-control" id="orglevel" placeholder="Org-Level" ng-focus="errorHideOrg()">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="orgClose"></span>
                            </div>
                        </form>


                    </div>
                    <div class="modal-footer">
                        <div class="three-quarters-loader" ng-show="saveLoading" style="margin: 0px 5px -7px 0;">

                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button ng-click="saveItem();" type="button" ng-show="buttonShow" class="btn btn-danger">Save</button>
                        <button ng-click="editRecord($index);" type="button" ng-hide="buttonShow" class="btn btn-danger">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!--Delete Error Modal -->
        <div class="modal fade bs-example-modal-sm" id="DelError_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Error...</h4>
                    </div>
                    <div class="modal-body">
                        <div>{{delErr}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </table>
